{#
  ARNS Details chevron

  @name _detailsChevron

  @description Details tag styled with gov uk chevron marker

  In template:
    {% from "components/details-chevron/macro.njk" import detailsChevron %}
    {{ detailsChevron({
      html: "<p>some html</p>",
      id: "my-id",
      showText: "show",
      hideText: "hide",
      })
    }}

@param {object} params
  @param {HTML} params.html - The HTML content to show/hide
  @param {string} params.id - A unique id for this details chevron
  @param {string?} params.showText - show text override
  @param {string?} params.hideText - hide text override

#}
<details class="govuk-details details--chevron-style" id="{{ params.id }}">
  <summary class="govuk-details__summary">
    <span class="details__chevron" aria-hidden="true"></span>
    <span class="details__toggle-text">
      <span class="details__show">{{ params.showText if params.showText else "Show details" }}</span>
      <span class="details__hide">{{ params.hideText if params.hideText else "Hide details" }}</span>
    </span>
  </summary>
  <div class="govuk-details__text">
    {{ params.html | safe }}
  </div>
</details>
