$border-colour: #B1B4B6;

@mixin arns-scale-bar-label {
  position: relative;
  text-align: center;
  display: block;
  color: govuk-colour("black");
}

@mixin arns-scale-bar-base {
  width: 100%;

  &::after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
  }

  & > div > span {
    height: 15px;
    display: block;
  }
}

.arns-predictor-scale-header-wrapper{
  display: flex;
  justify-content: space-between;
}

.arns-predictor-scale {
  width: 100%;
  padding: 30px 40px 10px;
  box-sizing: border-box;
  border: 1px solid $border-colour;
}