{#
ARNS Predictor Scale Component

@name predictorScale

@description Displays a specified risk predictor scale.

@example
In route handler:
  const riskData = await arnsComponents.getRiskData(token, 'crn', 'X123456')
  res.render('page', { riskData })

In template:
  {% from "components/predictor-scale/macro.njk" import predictorScale %}
  {{ predictorScale({
    data: riskData,
    predictor: "allReoffendingPredictor"
  }) }}

@param {object} params
  @param {RiskData} params.data - Risk data object from ArnsComponents.getRiskData() containing an 'assessments' array
  @param {string} params.predictor - The name of the specific predictor to display
#}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% set latestAssessment = params.data.assessments | first if params.data.assessments else null %}

{% macro predictorScaleMarker(predictor, showScore) %}
  <div class="arns-scale-marker__card">
    <div class="arns-scale-marker__card-top">
      <h3>{{ predictor.band }}</h3>
    </div>
    {% if showScore and predictor.score %}
      <div class="arns-scale-marker__card-bottom">
        <p>{{ predictor.score }}%</p>
      </div>
      <div class="arns-scale-marker__card-pointer"></div>
    {% else %}
      <div class="arns-scale-marker__card-pointer arns-scale-marker__card-pointer--white"></div>
    {% endif %}
  </div>
{% endmacro %}

{% if latestAssessment %}
  {% for key, predictor in latestAssessment %}
    {% if key == params.predictor %}

      {% set config = predictorConfig[key] %}

      {% set scaleMarkerClass = '' %}

      {% if config.hasVeryHighBand !== true %}
        {% switch predictor.band %}
        {% case 'LOW' %}
          {% set scaleMarkerClass = 'arns-scale-marker-wrapper--low arns-scale-marker-wrapper--position-one-of-three' %}
        {% case 'MEDIUM' %}
          {% set scaleMarkerClass = 'arns-scale-marker-wrapper--medium arns-scale-marker-wrapper--position-two-of-three' %}
        {% case 'HIGH' %}
          {% set scaleMarkerClass = 'arns-scale-marker-wrapper--high arns-scale-marker-wrapper--position-three-of-three' %}
        {% endswitch %}
        {% else %}
        {% switch predictor.band %}
        {% case 'LOW' %}
          {% set scaleMarkerClass = 'arns-scale-marker-wrapper--low arns-scale-marker-wrapper--position-one-of-four' %}
        {% case 'MEDIUM' %}
          {% set scaleMarkerClass = 'arns-scale-marker-wrapper--medium arns-scale-marker-wrapper--position-two-of-four' %}
        {% case 'HIGH' %}
          {% set scaleMarkerClass = 'arns-scale-marker-wrapper--high arns-scale-marker-wrapper--position-three-of-four' %}
        {% case 'VERY HIGH' %}
          {% set scaleMarkerClass = 'arns-scale-marker-wrapper--very-high arns-scale-marker-wrapper--position-four-of-four' %}
        {% endswitch %}
      {% endif %}

      {% set barTypeClass = '' %}

      {% if config.hasVeryHighBand !== true and config.showBandThresholdPercentages !== true %}
        {% set barTypeClass = 'arns-scale-bar--small' %}
      {% elif config.hasVeryHighBand === true and config.showBandThresholdPercentages !== true %}
        {% set barTypeClass = 'arns-scale-bar--small arns-scale-bar--small-fourths' %}
      {% elif config.hasVeryHighBand === true and config.showBandThresholdPercentages === true %}
        {% set barTypeClass = 'arns-scale-bar arns-scale-bar--fourths' %}
      {% elif config.hasVeryHighBand !== true and config.showBandThresholdPercentages === true %}
        {% set barTypeClass = 'arns-scale-bar' %}
      {% endif %}

      {% if predictor.band === 'NOT APPLICABLE' %}
        <div class="arns-predictor-scale govuk-body">
          <h2 class="govuk-heading-m">{{ predictor.name }}</h2>
          <p class="govuk-body">Not applicable</p>
        </div>
      {% else %}
        <div class="arns-predictor-scale govuk-body">
          <div class="arns-predictor-scale-header-wrapper">
            <div>
              <h2 class="govuk-heading-m">{{ predictor.name }}</h2>
              <p class="govuk-hint">Last updated: {{ predictor.completedDate }}</p>
            </div>
            {% if predictor.staticOrDynamic %}
            <div>{{ govukTag({ text: predictor.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
            {%  endif %}
          </div>

          <div class="arns-scale-marker">
            <div class="{{ scaleMarkerClass }}">
              {{ predictorScaleMarker(predictor, config.showScore) }}
            </div>
          </div>

          <div class="{{ barTypeClass }}">
            <div data-band-percentage-start="{{ config.bandThresholdPercentages[0] }}"
                 data-band-percentage="{{ config.bandThresholdPercentages[1] }}">
              <span></span>
            </div>
            <div data-band-percentage="{{ config.bandThresholdPercentages[2] }}">
              <span></span>
            </div>
            <div data-band-percentage="{{ config.bandThresholdPercentages[3] }}">
              <span></span>
            </div>
            {% if config.hasVeryHighBand === true %}
              <div data-band-percentage="{{ config.bandThresholdPercentages[4] }}">
                <span></span>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}

    {% endif %}
  {% endfor %}
{% endif %}
