{#
ARNS Predictor Scale Component

@name predictorScale

@description Displays a specified risk predictor scale.

@example
In route handler:
  const riskData = await arnsComponents.getRiskData(token, 'crn', 'X123456')
  res.render('page', { riskData })

In template:
  {% from "components/predictor-scale/macro.njk" import predictorScale %}
  {{ predictorScale({
    data: riskData,
    predictor: "allReoffendingPredictor"
  }) }}

@param {object} params
  @param {RiskData} params.data - Risk data object from ArnsComponents.getRiskData() containing an 'assessments' array
  @param {string} params.predictor - The name of the specific predictor to display
  @param {boolean} [params.legacyFallback] - Optional (default false) - If true and predictor requested is OGRS4-gen, fallback to showing the OGRS3-gen predictor if the latest assessment is OGRS3-gen.
  @param {boolean} params.excludeDate - Optional flag for excluding date
  @param {number} params.headingLevel - Optional heading level, completes the "h" tag where 2 (h2) is the default and the options are 1, 2, 3, 4...
  @param {string} params.headingClass - Optional heading class, completes "govuk-heading-" class where "m" (govuk-heading-m) is the default and options are xl, l, m, s, xs
#}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "../predictor-scale-bar/macro.njk" import predictorScaleBar -%}

{% set latestAssessment = params.data.assessments | first if params.data.assessments else null %}
{% set headingLevel = params.headingLevel | default(2) %}
{% set headingClass = params.headingClass | default('m') %}

{% if latestAssessment %}

  {% set config = predictorConfig[params.predictor] %}

  {% if params.legacyFallback and config.fallbackPredictor and latestAssessment.outputVersion == '1' %}
      {% set predictorToRender = config.fallbackPredictor %}
  {% else %}
      {% set predictorToRender = params.predictor %}
  {% endif %}

  {% for key, predictor in latestAssessment %}
    {% if key == predictorToRender %}

      <div class="arns-predictor-scale govuk-body" data-predictor-scale="{{ predictor.name }}">
        {% if predictor.band == null or predictor.score == null %}
          <h{{ headingLevel }} class="govuk-heading-{{ headingClass }} predictor-scale-header" data-test-id="name">{{ predictor.name }}</h{{ headingLevel }}>
          <p class="govuk-body" data-test-id="unknownSummary">The score cannot be calculated due to missing information (e.g. no assessment, completed, or required data not present).</p>
        {% elif predictor.band === 'NOT APPLICABLE' %}
          <h{{ headingLevel }} class="govuk-heading-{{ headingClass }} predictor-scale-header" data-test-id="name">{{ predictor.name }}</h{{ headingLevel }}>
          <p class="govuk-body" data-test-id="notApplicableSummary">We only calculate sexual reoffending predictor scores for men with a known history of sexual or sexually motivated offending. This person does not have a score for this predictor.</p>
        {% else %}
          <div class="arns-predictor-scale-header-wrapper">
            <div>
              <h{{ headingLevel }} class="govuk-heading-{{ headingClass }} predictor-scale-header" data-test-id="name">{{ predictor.name }}</h{{ headingLevel }}>
              {% if not params.excludeDate %}
              <p class="govuk-hint" data-test-id="LastUpdatedDate">Last updated: {{ predictor.completedDate if predictor.completedDate else 'unknown' }}</p>
              {% endif %}
            </div>
            {% if predictor.staticOrDynamic %}
              <div data-test-id="staticOrDynamic">{{ govukTag({ text: predictor.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
            {%  endif %}
          </div>
          {{ predictorScaleBar(predictor, key) }}
        {% endif %}
      </div>

    {% endif %}
  {% endfor %}
{% endif %}
