{#
ARNS Predictor Scale Component

@name predictorScale

@description Displays a specified risk predictor scale.

@example
In route handler:
  const riskData = await arnsComponents.getRiskData(token, 'crn', 'X123456')
  res.render('page', { riskData })

In template:
  {% from "components/predictor-scale/macro.njk" import predictorScale %}
  {{ predictorScale({
    data: riskData,
    predictor: "allReoffendingPredictor"
  }) }}

@param {object} params
  @param {RiskData} params.data - Risk data object from ArnsComponents.getRiskData() containing an 'assessments' array
  @param {string} params.predictor - The name of the specific predictor to display
#}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "../predictor-scale-bar/macro.njk" import predictorScaleBar -%}

{% set latestAssessment = params.data.assessments | first if params.data.assessments else null %}

{% if latestAssessment %}
  {% for key, predictor in latestAssessment %}
    {% if key == params.predictor %}

      <div class="arns-predictor-scale govuk-body" data-predictor-scale="{{ predictor.name }}">
        {% if predictor.band == null or predictor.score == null %}
          <h2 class="govuk-heading-m" data-test-id="name">{{ predictor.name }}</h2>
          <p class="govuk-body" data-test-id="unknownSummary">The score cannot be calculated due to missing information (e.g. no assessment, completed, or required data not present).</p>
        {% elif predictor.band === 'NOT APPLICABLE' %}
          <h2 class="govuk-heading-m" data-test-id="name">{{ predictor.name }}</h2>
          <p class="govuk-body" data-test-id="notApplicableSummary">We only calculate sexual reoffending predictor scores for men with a known history of sexual or sexually motivated offending. This person does not have a score for this predictor.</p>
        {% else %}
          <div class="arns-predictor-scale-header-wrapper">
            <div>
              <h2 class="govuk-heading-m" data-test-id="name">{{ predictor.name }}</h2>
              <p class="govuk-hint" data-test-id="LastUpdatedDate">Last updated: {{ predictor.completedDate if predictor.completedDate else 'unknown' }}</p>
            </div>
            {% if predictor.staticOrDynamic %}
              <div data-test-id="staticOrDynamic">{{ govukTag({ text: predictor.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
            {%  endif %}
          </div>
          {{ predictorScaleBar(predictor, key) }}
        {% endif %}
      </div>

    {% endif %}
  {% endfor %}
{% endif %}
