{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "../details-chevron/macro.njk" import detailsChevron %}
{% from "../predictor-scale-bar/macro.njk" import predictorScaleBar %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set latestAssessment = params.data.assessments | first if params.data.assessments else null %}
{% set forename = params.forename | default('This individual') %}
{% set ARP = latestAssessment.allReoffendingPredictor %}
{% set VRP = latestAssessment.violentReoffendingPredictor %}
{% set CSRP = latestAssessment.combinedSeriousReoffendingPredictor %}
{% set SVRP = latestAssessment.seriousViolentReoffendingPredictor %}
{% set DCSRP = latestAssessment.directContactSexualReoffendingPredictor %}
{% set IICSRP = latestAssessment.indirectImageContactSexualReoffendingPredictor %}

{% if latestAssessment %}

  <div class="bottom-border">
    {{ govukInsetText({
      text: "Source: " + latestAssessment.assessmentType + " assessment, completed on " + latestAssessment.completedDate
    }) }}
  </div>

  {#  All reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3>All reoffending predictor</h3>
    {% if ARP.staticOrDynamic %}
      <div class="staticOrDynamicTag" data-test-id="arp-staticOrDynamic">{{ govukTag({ text: ARP.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    {% endif %}
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span data-test-id="arp-probability-statement">
      About [X] in [Y] people ({{ ARP.score }}%) with a similar profile to {{ forename }} will get a sanction for an
      offence they commit within two years. This puts {{ forename }} in the {{ ARP.band | lower }} risk band.
    </span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(ARP, 'allReoffendingPredictor') }}
  </div>

  {% set allReoffendingPredictorContentHtml %}
    <h3>What this score predicts</h3>
    <p>
      The All reoffending predictor predicts the likelihood of someone getting a sanction for any recordable offence.
    </p>
    <p>
      It includes all sexual and all violent offences, but there are other risk predictors that are specifically
      designed to predict serious, violent and sexual offences.
    </p>
    <h3>How we calculate the score</h3>
    <p>We calculate the score using:</p>
    <ul>
      <li>static factors only, when we have limited information (a static score)</li>
      <li>dynamic and static factors, when we have more detailed information (a dynamic score)</li>
    </ul>
    {% if ARP.staticOrDynamic | upper === 'STATIC' %}
      <p data-test-id="arp-static-or-dynamic-factors">This score has been calculated using static factors only.</p>
    {% elseif ARP.staticOrDynamic | upper === 'DYNAMIC' %}
      <p data-test-id="arp-static-or-dynamic-factors">This score has been calculated using both dynamic and static factors.</p>
    {% endif %}

    <p>Static factors are things which cannot be deliberately changed, and include the person's:</p>
    <ul>
      <li>age when they enter the community caseload</li>
      <li>current offence</li>
      <li>total number of sanctions</li>
      <li>length of offending history</li>
    </ul>
    <p>The person’s current legal gender also counts towards the static score.</p>
    <p>Dynamic factors are things that can change, and include their:</p>
    <ul>
      <li>accommodation status</li>
      <li>employment status</li>
      <li>relationship status</li>
      <li>history of domestic abuse</li>
      <li>regular activities that encourage offending</li>
      <li>drug use and motivation to tackle drug use</li>
      <li>alcohol use</li>
      <li>impulsivity</li>
      <li>attitudes that support or excuse criminal behaviour</li>
    </ul>
  {% endset %}

  {{ detailsChevron({ html: allReoffendingPredictorContentHtml }) }}

  {#  Violent reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3>Violent reoffending predictor</h3>
    {% if VRP.staticOrDynamic %}
      <div class="staticOrDynamicTag" data-test-id="vrp-staticOrDynamic">{{ govukTag({ text: VRP.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    {% endif %}
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span data-test-id="vrp-probability-statement">
      About [X] in [Y] people ({{ VRP.score }}%) with a similar profile to {{ forename }} will get a sanction for a
      violent offence they commit within two years. This puts {{ forename }} in the {{ VRP.band | lower }} risk band.
    </span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(VRP, 'violentReoffendingPredictor') }}
  </div>

  {% set violentReoffendingPredictorContentHtml %}
    <h3>What this score predicts</h3>
    <p>The Violent reoffending predictor predicts the risk of reoffending for all offences that are classed as violent.</p>
    <p>
      However, the <a href="#serious-violent-reoffending-predictor-header">Serious violent reoffending predictor</a> is
      specifically designed to predict the most serious violent offences.  Because of this, the Violent reoffending
      predictor should be used to identify whether someone is likely to commit offences not covered by the Serious
      violent reoffending predictor, such as:
    </p>
    <ul>
      <li>actual bodily harm, common assault and aggravated assault</li>
      <li>robbery and assault with intent to rob</li>
      <li>arson not endangering life</li>
      <li>criminal damage not endangering life</li>
      <li>abduction of children</li>
      <li>intimidation</li>
      <li>breach of restraining order</li>
      <li>possessing or use of knives or offensive weapons offences</li>
      <li>public order and harassment</li>
      <li>resisting arrest</li>
      <li>disorderly behaviour</li>
      <li>drunkenness offences (not including those related to driving)</li>
    </ul>
    <p>
      To check if a specific offence is classed as violent, go to the
      <a href="https://equip-portal.equip.service.justice.gov.uk/CtrlWebIsapi.dll/app/documents/C025AF635DB44965AC7B629E5538CB5B/master">
        full list of violent offences (EQUip)</a>.
    </p>
    <h3>How we calculate the score</h3>
    <p>We calculate the score using:</p>
    <ul>
      <li>static factors only, when we have limited information (a static score)</li>
      <li>dynamic and static factors, when we have more detailed information (a dynamic score)</li>
    </ul>
    {% if VRP.staticOrDynamic | upper === 'STATIC' %}
      <p data-test-id="vrp-static-or-dynamic-factors">This score has been calculated using static factors only.</p>
    {% elseif VRP.staticOrDynamic | upper === 'DYNAMIC' %}
      <p data-test-id="vrp-static-or-dynamic-factors">This score has been calculated using both dynamic and static factors.</p>
    {% endif %}
    <p>Static factors are things which cannot be deliberately changed, and include the person's:</p>
    <ul>
      <li>age when they enter the community caseload</li>
      <li>current offence</li>
      <li>total number of sanctions</li>
      <li>number of violent sanctions</li>
      <li>length of offending history</li>
    </ul>
    <p>The person’s current legal gender also counts towards the static score.</p>
    <p>Dynamic factors are things that can change, and include their:</p>
    <ul>
      <li>accommodation status</li>
      <li>employment status</li>
      <li>relationship status</li>
      <li>history of domestic abuse</li>
      <li>regular activities that encourage offending</li>
      <li>drug use and motivation to tackle drug use</li>
      <li>alcohol use</li>
      <li>impulsivity</li>
      <li>temper control</li>
    </ul>
  {% endset %}

  {{ detailsChevron({ html: violentReoffendingPredictorContentHtml }) }}

  {#  Combined serious reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3>Combined serious reoffending predictor</h3>
    {% if CSRP.staticOrDynamic %}
      <div class="staticOrDynamicTag" data-test-id="csrp-staticOrDynamic">{{ govukTag({ text: CSRP.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    {% endif %}
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span data-test-id="csrp-probability-statement">
      About [X] in [Y] people ({{ CSRP.score }}%) with a similar profile to {{ forename }} will get a sanction for a
      seriously harmful offence they commit within two years. This puts {{ forename }} in the {{ CSRP.band | lower }} risk band.
    </span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(CSRP, 'combinedSeriousReoffendingPredictor') }}
  </div>

  {% set combinedSeriousReoffendingPredictorContentHtml %}
    <h3>Understanding what this score means</h3>
    <p>
      The Combined serious reoffending predictor percentage scores may seem low. This is because serious violence is
      relatively rare, so most people get a low score.
    </p>
    <h3>What this score predicts</h3>
    <p>
      The Combined serious reoffending predictor predicts seriously harmful offences by combining the scores from other predictors.
    </p>
    <p>
      A seriously harmful offence involves an event that is life-threatening or traumatic.
      The victim will find it difficult or impossible to recover physically or psychologically.
    </p>
    <h3>Risks combined in this score</h3>
    <p>The Combined serious reoffending predictor combines 3 different scores:</p>
    <ul>
      <li>Serious violent reoffending predictor</li>
      <li>Direct contact – sexual reoffending predictor</li>
      <li>Images and indirect contact – sexual reoffending predictor</li>
    </ul>
    <p>
      If a person has no history of sexual or sexually motivated offending, we base their score only on their
      Serious violent reoffending predictor score.
    </p>
    <p>Everyone gets a Serious violent reoffending predictor score, even if they have no history of violent offending.</p>
    <p>Go to the details for the Serious violent reoffending predictor and the two sexual reoffending predictors to find out:</p>
    <ul>
      <li>the offences they predict</li>
      <li>how we calculate the scores </li>
    </ul>
  {% endset %}

  {{ detailsChevron({ html: combinedSeriousReoffendingPredictorContentHtml }) }}

  {#  Serious violent reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3 id="serious-violent-reoffending-predictor-header">Serious violent reoffending predictor</h3>
    {% if SVRP.staticOrDynamic %}
      <div class="staticOrDynamicTag" data-test-id="svrp-staticOrDynamic">{{ govukTag({ text: SVRP.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    {% endif %}
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span>{{ SVRP.score }}% of people with a similar profile to {{ forename }} will get a sanction for an offence they commit within two years. This puts {{ forename }} in the {{ SVRP.band }} risk band.</span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(SVRP, 'seriousViolentReoffendingPredictor') }}
  </div>

  {% set seriousViolentReoffendingPredictorContentHtml %}
    <p>This is the content for the serious violent reoffending predictor.</p>
  {% endset %}

  {{ detailsChevron({ html: seriousViolentReoffendingPredictorContentHtml }) }}

  {#  Direct contact - Sexual reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3>Direct contact - Sexual reoffending predictor</h3>
    {% if DCSRP.staticOrDynamic %}
      <div class="staticOrDynamicTag" data-test-id="dcsrp-staticOrDynamic">{{ govukTag({ text: DCSRP.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    {% endif %}
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span>{{ DCSRP.score }}% of people with a similar profile to {{ forename }} will get a sanction for an offence they commit within two years. This puts {{ forename }} in the {{ DCSRP.band }} risk band.</span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(DCSRP, 'directContactSexualReoffendingPredictor') }}
  </div>

  {% set directContactSexualReoffendingPredictorContentHtml %}
    <p>This is the content for the direct contact - Sexual reoffending predictor.</p>
  {% endset %}

  {{ detailsChevron({ html: directContactSexualReoffendingPredictorContentHtml }) }}

  {#  Images and indirect contact - Sexual reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3>Images and indirect contact - Sexual reoffending predictor</h3>
    {% if IICSRP.staticOrDynamic %}
      <div class="staticOrDynamicTag" data-test-id="iicsrp-staticOrDynamic">{{ govukTag({ text: IICSRP.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    {% endif %}
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span>{{ IICSRP.score }}% of people with a similar profile to {{ forename }} will get a sanction for an offence they commit within two years. This puts {{ forename }} in the {{ IICSRP.band }} risk band.</span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(IICSRP, 'indirectImageContactSexualReoffendingPredictor') }}
  </div>

  {% set imagesAndIndirectContactSexualReoffendingPredictorContentHtml %}
    <p>This is the content for the images and indirect contact - Sexual reoffending predictor.</p>
  {% endset %}

  <div class="noThresholdScaleBuffer">
    {{ detailsChevron({html: imagesAndIndirectContactSexualReoffendingPredictorContentHtml}) }}
  </div>

{% endif %}
