{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "../details-chevron/macro.njk" import detailsChevron %}
{% from "../predictor-scale-bar/macro.njk" import predictorScaleBar %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set latestAssessment = params.data.assessments | first if params.data.assessments else null %}
{% set forename = params.forename | default('This individual') %}
{% set ARP = latestAssessment.allReoffendingPredictor %}
{% set VRP = latestAssessment.violentReoffendingPredictor %}
{% set CSRP = latestAssessment.combinedSeriousReoffendingPredictor %}
{% set SVRP = latestAssessment.seriousViolentReoffendingPredictor %}
{% set DCSRP = latestAssessment.directContactSexualReoffendingPredictor %}
{% set IICSRP = latestAssessment.indirectImageContactSexualReoffendingPredictor %}

{% if latestAssessment %}
  <div data-test-id="predictor-intro">
    <p>We have developed and validated these risk predictors using real historical data about how often people who have been on probation get further sanctions.</p>
    <p>Someone gets a sanction if they:</p>
    <ul>
      <li>are convicted by a court and given a sentence (such as a fine, community order, discharge or prison)</li>
      <li>accept a formal caution from the police</li>
    </ul>
  </div>
  <div class="bottom-border">
    {{ govukInsetText({
      text: "Source: " + latestAssessment.assessmentType + " assessment, completed on " + latestAssessment.completedDate
    }) }}
  </div>

  {#  All reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3>All reoffending predictor</h3>
    {% if ARP.staticOrDynamic %}
      <div class="staticOrDynamicTag" data-test-id="arp-staticOrDynamic">{{ govukTag({ text: ARP.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    {% endif %}
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span data-test-id="arp-probability-statement">
      About [X] in [Y] people ({{ ARP.score }}%) with a similar profile to {{ forename }} will get a sanction for an
      offence they commit within two years. This puts {{ forename }} in the {{ ARP.band | lower }} risk band.
    </span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(ARP, 'allReoffendingPredictor') }}
  </div>

  {% set allReoffendingPredictorContentHtml %}
    <h3>What this score predicts</h3>
    <p>
      The All reoffending predictor predicts the likelihood of someone getting a sanction for any recordable offence.
    </p>
    <p>
      It includes all sexual and all violent offences, but there are other risk predictors that are specifically
      designed to predict serious, violent and sexual offences.
    </p>
    <h3>How we calculate the score</h3>
    <p>We calculate the score using:</p>
    <ul>
      <li>static factors only, when we have limited information (a static score)</li>
      <li>dynamic and static factors, when we have more detailed information (a dynamic score)</li>
    </ul>
    {% if ARP.staticOrDynamic | upper === 'STATIC' %}
      <p data-test-id="arp-static-or-dynamic-factors">This score has been calculated using static factors only.</p>
    {% elseif ARP.staticOrDynamic | upper === 'DYNAMIC' %}
      <p data-test-id="arp-static-or-dynamic-factors">This score has been calculated using both dynamic and static factors.</p>
    {% endif %}

    <p>Static factors are things which cannot be deliberately changed, and include the person's:</p>
    <ul>
      <li>age when they enter the community caseload</li>
      <li>current offence</li>
      <li>total number of sanctions</li>
      <li>length of offending history</li>
    </ul>
    <p>The person’s current legal gender also counts towards the static score.</p>
    <p>Dynamic factors are things that can change, and include their:</p>
    <ul>
      <li>accommodation status</li>
      <li>employment status</li>
      <li>relationship status</li>
      <li>history of domestic abuse</li>
      <li>regular activities that encourage offending</li>
      <li>drug use and motivation to tackle drug use</li>
      <li>alcohol use</li>
      <li>impulsivity</li>
      <li>attitudes that support or excuse criminal behaviour</li>
    </ul>
  {% endset %}

  {{ detailsChevron({ html: allReoffendingPredictorContentHtml }) }}

  {#  Violent reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3>Violent reoffending predictor</h3>
    {% if VRP.staticOrDynamic %}
      <div class="staticOrDynamicTag" data-test-id="vrp-staticOrDynamic">{{ govukTag({ text: VRP.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    {% endif %}
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span data-test-id="vrp-probability-statement">
      About [X] in [Y] people ({{ VRP.score }}%) with a similar profile to {{ forename }} will get a sanction for a
      violent offence they commit within two years. This puts {{ forename }} in the {{ VRP.band | lower }} risk band.
    </span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(VRP, 'violentReoffendingPredictor') }}
  </div>

  {% set violentReoffendingPredictorContentHtml %}
    <h3>What this score predicts</h3>
    <p>The Violent reoffending predictor predicts the risk of reoffending for all offences that are classed as violent.</p>
    <p>
      However, the <a href="#serious-violent-reoffending-predictor-header">Serious violent reoffending predictor</a> is
      specifically designed to predict the most serious violent offences.  Because of this, the Violent reoffending
      predictor should be used to identify whether someone is likely to commit offences not covered by the Serious
      violent reoffending predictor, such as:
    </p>
    <ul>
      <li>actual bodily harm, common assault and aggravated assault</li>
      <li>robbery and assault with intent to rob</li>
      <li>arson not endangering life</li>
      <li>criminal damage not endangering life</li>
      <li>abduction of children</li>
      <li>intimidation</li>
      <li>breach of restraining order</li>
      <li>possessing or use of knives or offensive weapons offences</li>
      <li>public order and harassment</li>
      <li>resisting arrest</li>
      <li>disorderly behaviour</li>
      <li>drunkenness offences (not including those related to driving)</li>
    </ul>
    <p>
      To check if a specific offence is classed as violent, go to the
      <a href="https://equip-portal.equip.service.justice.gov.uk/CtrlWebIsapi.dll/app/documents/C025AF635DB44965AC7B629E5538CB5B/master">
        full list of violent offences (EQUip)</a>.
    </p>
    <h3>How we calculate the score</h3>
    <p>We calculate the score using:</p>
    <ul>
      <li>static factors only, when we have limited information (a static score)</li>
      <li>dynamic and static factors, when we have more detailed information (a dynamic score)</li>
    </ul>
    {% if VRP.staticOrDynamic | upper === 'STATIC' %}
      <p data-test-id="vrp-static-or-dynamic-factors">This score has been calculated using static factors only.</p>
    {% elseif VRP.staticOrDynamic | upper === 'DYNAMIC' %}
      <p data-test-id="vrp-static-or-dynamic-factors">This score has been calculated using both dynamic and static factors.</p>
    {% endif %}
    <p>Static factors are things which cannot be deliberately changed, and include the person's:</p>
    <ul>
      <li>age when they enter the community caseload</li>
      <li>current offence</li>
      <li>total number of sanctions</li>
      <li>number of violent sanctions</li>
      <li>length of offending history</li>
    </ul>
    <p>The person’s current legal gender also counts towards the static score.</p>
    <p>Dynamic factors are things that can change, and include their:</p>
    <ul>
      <li>accommodation status</li>
      <li>employment status</li>
      <li>relationship status</li>
      <li>history of domestic abuse</li>
      <li>regular activities that encourage offending</li>
      <li>drug use and motivation to tackle drug use</li>
      <li>alcohol use</li>
      <li>impulsivity</li>
      <li>temper control</li>
    </ul>
  {% endset %}

  {{ detailsChevron({ html: violentReoffendingPredictorContentHtml }) }}

  {#  Combined serious reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3>Combined serious reoffending predictor</h3>
    {% if CSRP.staticOrDynamic %}
      <div class="staticOrDynamicTag" data-test-id="csrp-staticOrDynamic">{{ govukTag({ text: CSRP.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    {% endif %}
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span data-test-id="csrp-probability-statement">
      About [X] in [Y] people ({{ CSRP.score }}%) with a similar profile to {{ forename }} will get a sanction for a
      seriously harmful offence they commit within two years. This puts {{ forename }} in the {{ CSRP.band | lower }} risk band.
    </span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(CSRP, 'combinedSeriousReoffendingPredictor') }}
  </div>

  {% set combinedSeriousReoffendingPredictorContentHtml %}
    <h3>What this score predicts</h3>
    <p>
      The Combined serious reoffending predictor predicts seriously harmful offences by combining the scores from other predictors.
    </p>
    <p>
      A seriously harmful offence involves an event that is life-threatening or traumatic.
      The victim will find it difficult or impossible to recover physically or psychologically.
    </p>
    <h3>Risks combined in this score</h3>
    <p>The Combined serious reoffending predictor combines 3 different scores:</p>
    <ul>
      <li>Serious violent reoffending predictor</li>
      <li>Direct contact – sexual reoffending predictor</li>
      <li>Images and indirect contact – sexual reoffending predictor</li>
    </ul>
    <p>
      If a person has no history of sexual or sexually motivated offending, we base their score only on their
      Serious violent reoffending predictor score.
    </p>
    <p>Everyone gets a Serious violent reoffending predictor score, even if they have no history of violent offending.</p>
    <p>Go to the details for the Serious violent reoffending predictor and the two sexual reoffending predictors to find out:</p>
    <ul>
      <li>the offences they predict</li>
      <li>how we calculate the scores </li>
    </ul>
  {% endset %}

  {{ detailsChevron({ html: combinedSeriousReoffendingPredictorContentHtml }) }}

  {#  Serious violent reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3 id="serious-violent-reoffending-predictor-header">Serious violent reoffending predictor</h3>
    {% if SVRP.staticOrDynamic %}
      <div class="staticOrDynamicTag" data-test-id="svrp-staticOrDynamic">{{ govukTag({ text: SVRP.staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    {% endif %}
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span data-test-id="svrp-probability-statement">
      About [X] in [Y] people ({{ SVRP.score }}%) with a similar profile to {{ forename }} will get a sanction for a
      serious violent offence they commit within two years. This puts {{ forename }} in the {{ SVRP.band | lower }} risk band.
    </span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(SVRP, 'seriousViolentReoffendingPredictor') }}
  </div>

  {% set seriousViolentReoffendingPredictorContentHtml %}
    {% if DCSRP.band === 'NOT APPLICABLE' and IICSRP.band === 'NOT APPLICABLE' %}
      <h3 data-test-id="svrp-no-sexual-history-header">Why this score is the same as Combined serious reoffending predictor</h3>
      <p>
        We only calculate sexual reoffending predictor scores for men with a known history of sexual or sexually
        motivated offending. Because of this, {{ forename }}’s Combined serious reoffending predictor score is just
        based on their Serious violent reoffending prediction. This is why the two scores are the same.
      </p>
    {% endif %}
    <h3>How we calculate the score</h3>
    <p>We calculate the score using:</p>
    <ul>
      <li>static factors only, when we have limited information (a static score)</li>
      <li>dynamic and static factors, when we have more detailed information (a dynamic score)</li>
    </ul>
    {% if SVRP.staticOrDynamic | upper === 'STATIC' %}
      <p data-test-id="svrp-static-or-dynamic-factors">This score has been calculated using static factors only.</p>
    {% elseif SVRP.staticOrDynamic | upper === 'DYNAMIC' %}
      <p data-test-id="svrp-static-or-dynamic-factors">This score has been calculated using both dynamic and static factors.</p>
    {% endif %}
    <p>Static factors are things which cannot be deliberately changed, and include the person's:</p>
    <ul>
      <li>age when they enter the community caseload</li>
      <li>current offence</li>
      <li>total number of sanctions</li>
      <li>number of violent sanctions</li>
      <li>length of offending history</li>
    </ul>
    <p>The person’s current legal gender also counts towards the static score.</p>
    <p>Dynamic factors are things that can change, and include their:</p>
    <ul>
      <li>previous and current weapons offences</li>
      <li>accommodation status</li>
      <li>employment status</li>
      <li>alcohol use</li>
      <li>temper control</li>
      <li>attitudes that support or excuse criminal behaviour</li>
    </ul>
    <h3>What this score predicts</h3>
    <p>The Serious violent reoffending predictor predicts the risk of reoffending for: </p>
    <ul>
      <li>murder or attempted murder</li>
      <li>conspiracy to, soliciting, assisting or encouraging murder</li>
      <li>manslaughter</li>
      <li>wounding or inflicting grievous bodily harm (GBH)</li>
      <li>nonfatal strangulation or suffocation</li>
      <li>offences related to possessing or use of a firearm or imitation firearm</li>
      <li>aggravated burglary in a dwelling</li>
      <li>kidnap or false imprisonment</li>
      <li>arson endangering life</li>
      <li>criminal damage endangering life</li>
      <li>aggravated vehicle taking causing death</li>
      <li>blackmail</li>
      <li>other non-motoring offences endangering life</li>
    </ul>
    <p>It does not predict the following serious offences:</p>
    <ul>
      <li>cruelty to or neglect of children</li>
      <li>abandoning children under two years</li>
      <li>abduction of children</li>
      <li>terrorism offences</li>
    </ul>
  {% endset %}

  {{ detailsChevron({ html: seriousViolentReoffendingPredictorContentHtml }) }}

  {#  Direct contact - Sexual reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3>Direct contact - Sexual reoffending predictor</h3>
  </div>
  {% if DCSRP.band === 'NOT APPLICABLE' %}
    <div class="details--chevron-style">
      <p data-test-id="dcsrp-not-applicable">
        We only calculate sexual reoffending predictor scores for men with a known history of sexual or sexually
        motivated offending. {{ forename }} does not have a score for this predictor.
      </p>
    </div>
  {% else %}
    <div class="govuk-!-margin-bottom-4">
      <span data-test-id="dcsrp-probability-statement">
        About [X] in [Y] people ({{ DCSRP.score }}%) with a similar profile to {{ forename }} will get a sanction for a
        direct contact sexual offence they commit within two years. This puts {{ forename }} in the {{ DCSRP.band | lower }} risk band.
      </span>
    </div>
    <div class="scale-wrapper">
      {{ predictorScaleBar(DCSRP, 'directContactSexualReoffendingPredictor') }}
    </div>

    {% set directContactSexualReoffendingPredictorContentHtml %}
      <h3>How we calculate the score</h3>
      <p>
        We only calculate a Direct contact – sexual reoffending predictor score for men with a known history of sexual
        or sexually motivated offending.
      </p>
      <p>We calculate the score using the number of current and previous sanctions a person has for:</p>
      <ul>
        <li>sexual or sexually motivated offences involving contact with an adult</li>
        <li>sexual or sexually motivated offences involving direct contact with a child</li>
        <li>non-contact sexual offences</li>
      </ul>
      <p>It does not count indecent images of children offences.</p>
      <p>We also look at static factors, which are things which cannot be deliberately changed. These include:</p>
      <ul>
        <li>age when they enter the community caseload</li>
        <li>total number of sanctions</li>
        <li>if their current offence was a direct contact offence committed against a stranger victim</li>
      </ul>
      <h3>What this score predicts</h3>
      <p>The Direct contact – sexual reoffending predictor predicts the risk of the following offences with an adult victim:</p>
      <ul>
        <li>rape or attempted rape</li>
        <li>sexual assault</li>
        <li>causing a female to engage in sexual activity without consent</li>
        <li>sex with an adult relative</li>
        <li>sexual activity with someone with a mental disorder or learning disability, including ‘breach of trust’ offences</li>
        <li>abduction (under the Sexual Offences 1956 Act)</li>
        <li>trafficking for sexual exploitation</li>
        <li>administering a substance with intent to engage in a sexual activity</li>
      </ul>
      <p>It also predicts the risk of the following offences with a child victim:</p>
      <ul>
        <li>rape or attempted rape</li>
        <li>assault by penetration</li>
        <li>sexual assault</li>
        <li>causing a female to engage in sexual activity without consent</li>
        <li>sexual activity with a child family member</li>
        <li>inciting a child family member to engage in sexual activity</li>
        <li>abuse of trust sexual offences</li>
        <li>abduction (under the Sexual Offences 1956 Act, not the Child Abduction Act 1984)</li>
      </ul>
      <p>
        It does not predict other sexual offences that do not involve actual or attempted physical contact with a live
        human victim. For example:
      </p>
      <ul>
        <li>possession of extreme pornographic images</li>
        <li>exposure</li>
        <li>voyeurism</li>
        <li>sending a photograph or film of genitals</li>
        <li>sharing or threatening to share an intimate photograph or film</li>
      </ul>
      <p>
        Further guidance about the offences it does not predict is available as an annex to the
        <a href="https://equip-portal.equip.service.justice.gov.uk/CtrlWebIsapi.dll/app/documents/091B36B5CE134AC5B45D06A30D09F8B9/master">
          Understanding risk predictors - actuarial risk assessment instruments (ARAI) user guidance (EQUip)</a>.
      </p>
    {% endset %}

    {{ detailsChevron({ html: directContactSexualReoffendingPredictorContentHtml }) }}
  {% endif %}

  {#  Images and indirect contact - Sexual reoffending predictor  #}
  <div class="predictor-header-wrapper">
    <h3>Images and indirect contact - Sexual reoffending predictor</h3>
  </div>
  <div class="govuk-!-margin-bottom-4">
    <span>{{ IICSRP.score }}% of people with a similar profile to {{ forename }} will get a sanction for an offence they commit within two years. This puts {{ forename }} in the {{ IICSRP.band }} risk band.</span>
  </div>
  <div class="scale-wrapper">
    {{ predictorScaleBar(IICSRP, 'indirectImageContactSexualReoffendingPredictor') }}
  </div>

  {% set imagesAndIndirectContactSexualReoffendingPredictorContentHtml %}
    <p>This is the content for the images and indirect contact - Sexual reoffending predictor.</p>
  {% endset %}

  <div class="noThresholdScaleBuffer">
    {{ detailsChevron({html: imagesAndIndirectContactSexualReoffendingPredictorContentHtml}) }}
  </div>

{% endif %}
